@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to a Music App</h1>
</div>
<a asp-action="Index" asp-controller="Albums" class="btn btn-lg btn-info">Go to Albums</a>
<a asp-action="Index" asp-controller="Genres" class="btn btn-lg btn-info">Go to Genres</a>
<a asp-action="Index" asp-controller="Artists" class="btn btn-lg btn-info">Go to Artists</a>